/* BASIC STYLES HERE */
body {
    background-size: cover;
    background-position: center;
}

.toDoCard {
    box-shadow: 0px 0px 10px black;
    display: flex;
    background-color: rgba(137, 124, 124, 0.616);
    border-radius: 10px;
    padding: .5em;
}


.quoteBody {
    opacity: 0;
    visibility: hidden;
    /* transition: ease-in-out .75s; */
}

.quoteAuthor:hover+.quoteBody {
    opacity: 1;
    visibility: visible;
}

.quoteAuthor {
    cursor: pointer;
}